@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: stylish;
  font-size: 1rem;
  color: #222;
}

#root {
  max-width: 512px;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 2.25rem;
  margin: 0.75rem;
}

.counter {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  user-select: none;
}

.form {
  width: 100%;
  display: flex;
  margin-bottom: 0.25rem;
}

.input {
  flex: 1;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 1px inset #222;
  text-align: center;
  font-size: 1.15rem;
  margin: 0.5rem 0.25rem;
  padding: 0.35rem 0;
}

.input:focus {
  outline-color: #5bc0de;
}

.btn {
  border: none;
  outline: none;
  background: #337ab7;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #eee;
  margin: 0.5rem 0.25rem;
  cursor: pointer;
  user-select: none;
  width: 102px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.btn:active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset;
}

.btn.info {
  background: #5bc0de;
}

.btn.success {
  background: #5cb85c;
}

.btn.warning {
  background: #f0ad4e;
}

.btn.danger {
  background: #d9534f;
}

.btn.filter {
  background: none;
  color: #222;
  text-shadow: none;
  border: 1px dashed #222;
  box-shadow: none;
}

.btn.filter.checked {
  border: 1px solid #222;
}

.list {
  list-style: none;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item + .item {
  border-top: 1px dashed rgba(0, 0, 0, 0.5);
}

.text {
  flex: 1;
  font-size: 1.15rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background: #eee;
  border-radius: 4px;
}

.text.completed {
  text-decoration: line-through;
  color: #888;
}

.disabled {
  opacity: 0.8;
  position: relative;
  z-index: -1;
}
